<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @template.note %>
</p>

<p>
  <strong>Content:</strong>
  <%= @template.content %>
</p>

<p>
  <strong>Designer:</strong>
  <%= @template.designer %>
</p>

<p>
  <strong>Demo:</strong>
  <%= @template.demo %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
