<%= form_for(@image_article) do |f| %>
  <% if @image_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_article.errors.count, "error") %> prohibited this image_article from being saved:</h2>

      <ul>
      <% @image_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :articles_id %><br>
    <%= f.text_field :articles_id %>
  </div>
  <div class="field">
    <%= f.label :images_id %><br>
    <%= f.text_field :images_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
